---
title: cobb.land
layout: window.html
special: home-title
---

<p>I'm <a href="/about">Cobb</a><sup><img src="/images/triple-dagger.png" alt="Triple Dagger" class="dagger" height="13px" width="6px" style="display:inline;"></sup> (or cobbland or cobb-dot-land or even <a href="https://jacobdensford.com">Jacob</a>) and this is my website. Below, you will find links to most of my <a href="/pages">pages</a> and my most recent <a href="/posts">posts</a>. Follow my <a href="/follow">RSS feed(s)</a> to keep up. And feel free to <a href="/contact">contact me</a> about whatever.

<div class="home-latest">

    <div>
        <h2>Posts</h2>
    
        <ul class="posts">
            {% for post in collections.post | reverse | limit(6) %}
                {# {% if "article" in post.data.tags or "review" in post.data.tags%} #}
                    <li>
                        <a href="{{ post.url }}">
                            {{ post.data.title }}
                        </a>
                        <p class="date">{{ post.date.toDateString() }}</p>
                    </li>
                {# {% endif %} #}
            {% endfor %}
        </ul>
    
        <p class="pushdown"><a href="/posts">More posts</a></p>
    </div>

    <div>
        <h2>Pages</h2>
    
        <div>
            <ul class="pages">
                {% for page in collections.page | sort(attribute='data.title') | limit(24) %}
                    <li>
                        <a href="{{ page.url }}">
                            {{ page.data.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <p class="pushdown"><a href="/pages">More pages</a></p>
    </div>

    <div>
        <h2>Media</h2>

        <ul>
            {% for post in collections.media | reverse %}
                {% if "playlist" in post.data.tags and post.data.title != "LOCKED" and post.data.title != "EMPTY" %}
                    <li>
                        <a href="{{post.url}}">{{post.data.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <p class="pushdown"><a href="/media">More media</a></p>
    </div>
    
</div>
