---
title: Media
layout: page.njk
tags: [slashpage, page]
date: 2026-06-09T09:00:00.00-04:00
---
<h2>Status</h2>

<ul class="media-card">
    <li><b>Level:</b> 5</li>
    <li><b>Coins:</b> 25</li>
    <li><b>Progress:</b> 8/10 shelved to level 6</li>
    <li><b>Playlist Slots Unlocked:</b> 4</li>
</ul>

<h2 id="playlist">Playlist</h2>

<p>Active "carts". What I'm playing, reading, and watching now. (Choose or roll.)</p>

<ol>
    {% for post in collections.media | reverse %}
        {% if "playlist" in post.data.tags %}
            <li>
                {% if post.data.title != "LOCKED" and post.data.title != "EMPTY" %}
                    <a href="{{post.url}}">{{post.data.title}}</a>
                {% else %}
                    <p>{{post.data.title}}</p>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>

<p><b>Bonus Slot:</b> EMPTY</p>

<h2 id="shelf">Shelf</h2>

<p>Past "carts". Things I've finished.</p>

<ol>
    {% for post in collections.media %}
        {% if "shelved" in post.data.tags %}
            <li>
                <a href="{{post.url}}">{{post.data.title}}</a> <span class="note">{{post.data.score}}/4</span>
            </li>
        {% endif %}
    {% endfor %}
</ol>

<h2>Store</h2>

<p>Future "carts". A collection to choose from when loading playlist. (Spend one coin to roll or two to pick.)</p>

<ol>
    {% for post in collections.media %}
        {% if "binned" in post.data.tags %}
            <li>
                <a href="{{post.url}}">{{post.data.title}}</a>{# , 
                {{post.data.creator}}, 
                {{post.data.cart}} ({{post.data.type}}),
                {{post.data.date.toDateString()}} #}
            </li>
        {% endif %}
    {% endfor %}
</ol>

<h2>Rules</h2>

<p>A gamified intentional media tracker with RPG-light mechanics.</p>

<p>Play begins at level 1 with 3 coins and 2 slots.</p>

<h3>Levels</h3>

<p>Finishing and shelve current level times two "carts" to advance to the next level. This number resets after each level-up.</p>

<h3>Coins</h3>

<p>Earn 1 coin for each of the following: abandoning a cart, shelving a cart, writing a review.</p>

<h3>Slots</h3>

<p>Unlock additional playlist slots at levels 2, 4, 6, and 8.</p>

<h3>Ratings</h3>

<p>Ratings are out of four, defined from one to four as follows: do not recommend, recommend with reservations, recommend, strongly recommend. Recommendations assume the recommendee enjoys other similar things.</p>
