<!DOCTYPE html><html lang="en"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#75cec8">
        <title>{{ title }}</title>
        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="cobb.land">
        <link rel="icon" sizes="88x31" href="/images/cobbland-8831.jpg">
        <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon">
        <link rel="icon" href="/images/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="icon" href="/images/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/images/android-chrome-192x192.png" sizes="192x192" type="image/png">
        <link rel="icon" href="/images/android-chrome-512x512.png" sizes="512x512" type="image/png">
        <link rel="apple-touch-icon icon" href="/images/apple-touch-icon.png" sizes="180x180" type="image/png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/crt.css">
        <link rel="stylesheet" href="/css/seasons.css">
        <link rel="webmention" href="https://webmention.io/cobb.land/webmention">
        <link rel="pingback" href="https://webmention.io/cobb.land/xmlrpc">
        <link rel="feed" type="text/html" href="/h-feed/">
        <link rel="human-json" href="/data/human.json">
        <script type="module" src="/js/scripts.js"></script>
        <meta name="fediverse:creator" content="@cobb@dice.camp">
        <meta property="og:image" content="https://cobb.land/images/cobbland-banner.jpeg">
        <meta property="og:title" content="{{ title }}">
        <!-- <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content=""> -->
    </head>
    <body>
        <!-- <div class="color-div"></div> -->

        <header id="header">
            <nav>
                <ul>
                    <li>
                        <a class="logo-image" href="/"><img src="/images/logotinywhite.png" aria-hidden="true" alt="logo"><img src="/images/logotiny.png" aria-hidden="true" alt="logo">cobb.land</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/pages">Pages</a>
                    </li>
                    <li>
                        <a href="/posts">Posts</a>
                    </li>
                    <li>
                        <a class="logo-image feed-image" href="/follow"><img src="/images/feed-icon-white.png" aria-hidden="true" alt="feed"><img src="/images/feed-icon.png" alt="feed"></a>
                    </li>
                </ul>
            </nav>
            <div class="time invisible" aria-hidden="true">
                00/00/0000 00:00
            </div>
        </header>

        <div id="content">
            {{ content }}

            <div id="extra-panels">
                <div class="content-window" onload="loadWindow">
                    <div class="title-bar">
                        <div class="title-lines">
                            <div class="lines" aria-hidden="true">
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                            </div>
                            <div class="title-bar-title">
                                <a href="https://microformats.org/wiki/h-card">h-card</a>
                            </div>
                            <div class="lines lines-left" aria-hidden="true">
                                <div class="lines-left-of-button">
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-card content">
                        <img class="u-photo" src="/images/android-chrome-512x512.png" style="max-width: 100px">
                        <ul class="extra-panels no-decor">
                            <li>
                                Name:
                                <a class="u-url p-name" rel="me" href="https://cobb.land">Cobb</a>
                            </li>
                            <li>Pronouns: <strong>he/him</strong></li>
                            <li>
                                Fedeverse:
                                <a rel="me" class="u-url" href="https://dice.camp/@cobb">@cobb@dice.camp</a>
                            </li>
                            <li>
                                Email:
                                <a class="u-email" rel="me" href="mailto:hello@cobb.land">hello@cobb.land</a>
                            </li>
                        </ul>
                        <p class="p-note">
                            A writer, programmer, and game designer currently
                            dwelling in the foothills of Appalachia.
                        </p>
                        <a class="u-url" href="https://github.com/jacobdensford" rel="me"></a>
                        <a class="u-logo u-photo" href="/images/android-chrome-512x512.png"></a>
                    </div>
                </div>

                <!-- <div class="content-window" onload="loadWindow">
                <div class="title-bar">
                    <div class="title-lines">
                        <div class="lines" aria-hidden="true">
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                        </div>
                        <div class="title-bar-title">
                            <a href="https://libre.fm/user/cobbland">Libre.FM</a>
                        </div>
                        <div class="lines lines-left" aria-hidden="true">
                            <div class="lines-left-of-button">
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recent-music" class="content">
                    <h2>Recent Albums</h2>
                    <ul class="extra">
                        {% for item in recentMusic %}
                        <li>
                            <a href="{{ item.albumUrl }}"><strong>{{ item.album }}</strong></a>, <a href="{{ item.artistUrl }}" style="font-weight: normal;">{{ item.artist }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <p><a href="https://libre.fm/user/cobbland">More music</a></p>
                    <p class="note">Updated {% date %}</p>
                </div>
            </div>

            <div class="content-window" onload="loadWindow">
                <div class="title-bar">
                    <div class="title-lines">
                        <div class="lines" aria-hidden="true">
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                            <div class="title-bar-line"></div>
                        </div>
                        <div class="title-bar-title">
                            <a href="https://retroachievements.org/user/cobbland">RetroAchievements</a>
                        </div>
                        <div class="lines lines-left" aria-hidden="true">
                            <div class="lines-left-of-button">
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recent-games" class="content">
                    <h2>Recent Games</h2>
                    <ul>
                        {% for item in recentGames %}
                            <li>
                                <a href="https://retroachievements.org/game/{{ item.GameID }}"><strong>{{ item.Title }}</strong></a>, {{ item.ConsoleName }}, {{ item.NumAchieved }}/{{ item.AchievementsTotal }} achievements
                            </li>
                        {% endfor %}
                    </ul>
                    <p><a href="https://retroachievements.org/user/cobbland">More games</a></p>
                    <p class="note">Updated {% date %}</p>
                </div>
            </div> -->

                <div class="content-window" onload="loadWindow">
                    <div class="title-bar">
                        <div class="title-lines">
                            <div class="lines" aria-hidden="true">
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                                <div class="title-bar-line"></div>
                            </div>
                            <div class="title-bar-title">
                                <a href="https://indieweb.org/88x31">88x31</a>
                            </div>
                            <div class="lines lines-left" aria-hidden="true">
                                <div class="lines-left-of-button">
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                    <div class="title-bar-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="footer">
                        <a class="link-icon" href="https://cobb.land">
                            <img src="/images/cobbland-8831.jpg" alt="old-school 88 by 31 pixel web image, orange and green, says cobb.land" height="31" width="88">
                        </a>
                        <a class="link-icon" href="/follow">
                            <img src="/images/rss-8831.jpg" alt="RSS" height="31" width="88">
                        </a>
                        <a class="link-icon" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                            <img src="/images/by-nc-sa.png" alt="cc by-nc-sa" height="31" width="88">
                        </a>
                        <a class="link-icon" href="/">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#555"></rect>
                            </svg>
                            <span class="icon-text">cobb.land © {% year %}</span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </a>
                        <a class="link-icon" href="/ai">
                            <img src="/images/human-made.jpg" alt="human made">
                        </a>
                        <a class="link-icon" href="https://www.11ty.dev/">
                            <img src="/images/eleventy.gif" alt="built with 11ty" height="31" width="88">
                        </a>
                        <a class="link-icon" href="https://indieweb.org/">
                            <img src="/images/indieweb-88x31.gif" alt="EWC Now! indieweb.org" height="31" width="88">
                        </a>
                        <a class="link-icon" href="https://32bit.cafe/">
                            <img src="/images/32b-pcb.png" alt="32b cafe" height="31" width="88">
                        </a>
                        <a class="link-icon" href="https://zakhary.dev/blog/gbc-web-button">
                            <img src="/images/gameboy-button.gif" alt="game boy" height="31" width="88">
                        </a>
                        <a class="link-icon" href="https://www.vim.org">
                            <img src="/images/vim.gif" alt="vim" height="31" width="88">
                        </a>

                        <div class="link-icon">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#FC4F1E"></rect>
                            </svg>
                            <span class="icon-text" style="font-size: 18px">
                                <a href="https://xn--sr8hvo.ws/previous">←</a>
                                <a href="https://xn--sr8hvo.ws">🕸💍</a>
                                <a href="https://xn--sr8hvo.ws/next">→</a>
                            </span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </div>
                        <div class="link-icon">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#00A4FF"></rect>
                            </svg>
                            <span class="icon-text">
                                <a href="https://fediring.net/previous?host=cobb.land">←</a>
                                <a href="https://fediring.net">fediring</a>
                                <a href="https://fediring.net/next?host=cobb.land">→</a>
                            </span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </div>
                        <div class="link-icon">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#FA9ABA"></rect>
                            </svg>
                            <span class="icon-text">
                                <a href="https://hotlinewebring.club/cobbland/previous">←</a>
                                <a href="https://hotlinewebring.club/">HOTLINE</a>
                                <a href="https://hotlinewebring.club/cobbland/next">→</a>
                            </span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </div>
                        <div class="link-icon">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <defs>
                                    <linearGradient id="pinkGradientVertical" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" stop-color="#E5B2E4"></stop>
                                        <stop offset="100%" stop-color="#BDA3D8"></stop>
                                    </linearGradient>
                                </defs>
                                <rect class="icon-rect" height="31" width="88" fill="url(#pinkGradientVertical)"></rect>
                            </svg>
                            <span class="icon-text">
                                <a href="http://mysteriesofmontreal.blogspot.com/" id="woodpaneled-last">←</a>
                                <a href="https://woodpaneled.org">Wood-Paneled</a>
                                <a href="https://cartweel.neocities.org/Onion%20Ring/ring-home" id="woodpaneled-next">→</a>
                            </span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </div>
                        <div class="link-icon">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#AF6284"></rect>
                            </svg>
                            <span class="icon-text">
                                <a href="https://rootr.ing/prev?site=cobb.land">←</a>
                                <a href="https://rootr.ing/directory">rootring</a>
                                <a href="https://rootr.ing/next?site=cobb.land">→</a>
                            </span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </div>
                        <a class="link-icon" id="random-blog-button" href="/">
                            <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" height="31" width="88">
                                <rect class="icon-rect" height="31" width="88" fill="#A82CB9"></rect>
                            </svg>
                            <span class="icon-text" style="font-size: 18px">🎲</span>
                            <img class="icon-border" src="/images/button-outline-88x31.png" aria-hidden="true">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p class="note" style="display: none">cobb.land © {% year %}</p>
        </footer>

        <div id="seasonContainer" class="seasonContainer" aria-hidden="true"></div>
    

</body></html>
